@model ProductListViewModel

@foreach (var p in Model.Products)
{
    <partial name="ProductBlockPartialView" model="p"/>
}

<hr />

<div page-model="@Model.Pager"
    page-action="List" 
    enable-page-classes="true"
    page-class="btn"
    page-class-normal="btn-default"
    page-class-selected="btn-primary"
    class="btn-group">
</div>
