@*@model IEnumerable<Product>*@
@*@model Cart*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Television Shows 101</title>
</head>
<body>

    @*<ul>
            @foreach (var product in Model)
            {
                <li>@product.Name</li>
            }
        </ul>*@

    <br /><br />

    @*<ul>
        @foreach (var c in Model.CartItems)
        {
            <li>@c.Product.Id +++ @c.Product.Name +++ @c.Product.Price</li>
        }
    </ul>*@


    

</body>
</html>
