@model Inspector


<div>
    <form asp-action="NewHeaderInspector" method="post">
        @*<div> have the validation summary info here </div>*@
        <div class="form-group">
            <p>
                <label asp-for="Url">Enter URL:</label>
                <input asp-for="Url" placeholder="example.com" />
            </p>
        </div>

        <p>
            <label asp-for="ExcludedHeaders">Enter headers to exclude:</label>
            <input asp-for="ExcludedHeaders" placeholder="Comma separated list" />
        </p>
        <button class="btn btn-primary" type="submit">Inspect</button>
    </form>
</div>
